body{
	background: #BBB;
	background: -o-linear-gradient(#BBB,#F3F3F3);
	background: -webkit-linear-gradient(#BBB,#F3F3F3);
	background: -moz-linear-gradient(#BBB,#F3F3F3);
	background: linear-gradient(#BBB,#F3F3F3);
	font-family: Calibri, Arial;
}
a.five {
	position: fixed;
	float: right;
	top: 352px;
  	right: 16px;
	color: #777;
	padding: 10px;
	z-index: 100;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a.one {
	position: fixed;
	float: right;
	top: 8px;
  	right: 16px;
	color: #777;
	padding: 10px;
	z-index: 100;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a{
	 width: 180px;
	 transition-duration: 0.4s;
	 height: 50px;
	 font-family: 'Roboto', sans-serif;
	 font-size: 11px;
	 text-transform: uppercase;
	 letter-spacing: 2.5px;
	 font-weight: 500;
	 text-align: center;
	 color: #000;
	
	 background-color: #fff;
	 border: none;
	 border-radius: 45px;
	 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	 transition: all 0.3s ease 0s;
	 cursor: pointer;
	 outline: none;
  }
a.two {
	position: fixed;
	float: right;
	top: 88px;
  	right: 16px;
	color: #777;
	padding: 10px;
	z-index: 100;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
a.three {
	position: fixed;
	float: right;
	top: 176px;
  	right: 16px;
	color: #777;
	padding: 10px;
	z-index: 100;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#version{
	position: fixed;
	float: right;
	top: 8px;
  	right: 16px;
	color: #777;
	padding: 10px;
	z-index: 100;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
a.four {
	position: fixed;
	float: right;
	top: 264px;
  	right: 16px;
	color: #777;
	padding: 10px;
	z-index: 100;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
a:after{
	display: block;
	content: '';
	border-bottom: solid 1px black;
	transform: scaleX(0);
	transition: transform 300ms;
}

a:hover, a#version:hover{
	background-color: #2EE59D;
  	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  	color: #fff;
	transform-origin: 50% 50%;
}

a:hover:after{
	transform: scaleX(1);
}

ul{
	list-style: none;
	text-align: center;
}
